{% extends 'webapp/basic.html' %}
{% block title %} Admin {% endblock %}
{% block body %}
{% load static %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-rose alert-with-icon tp-5" id="msg" data-notify="container">
    <i class="material-icons" data-notify="icon">notifications</i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
    </button>
    <span data-notify="message"> {{ message }}</span>
</div>
{% endfor %}
{% endif %}
<div class="container-sm mt-5 mx-5">
    <br>
    <div class="row">
        <form action="approval" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">Approval</button>
        </form>
        <form action="forebook" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">E-Books</button>
        </form>
    </div>
</div>
<div class="container-sm mt-5 mx-5">
    <div class="main">
        <div class="row">
            {% for i in event %}
            <div class="container-sm mx-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Event: {{i.Name}}</h5>
                        <form action="generate" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="eventname" value="{{i.Name}}">
                            <button type="submit" class="btn btn-primary">Generate E-Book</button>
                            
                        </form>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}