{% extends 'webapp/basic.html' %}
{% block title %} Event Details {% endblock %}
{% block body %}
{% load static %}
<script>
    function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
{% if messages %}
{% for message in messages %}
<div class="alert alert-rose alert-with-icon tp-5" id="msg" data-notify="container">
    <i class="material-icons" data-notify="icon">notifications</i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
    </button>
    <span data-notify="message"> {{ message }}</span>
</div>
{% endfor %}
{% endif %}
<div class="main">
    <div class="header text-center mt-5">
        <h3>Welcome </h3>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 mb-lg-0 mb-4 p-6 ">
                {% for j in evento %}
                <div class="center">
                    <form class="d-flex" action="event_cansearch" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="eventname" value="{{j.Name}}">
                        <input class="form-control me-2" type="search" placeholder="Enter Id or Name" aria-label="Search" name="name_id">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                {% endfor %}
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            {% for i in candidates %}
                            <div class="col-sm-2.3 tp-4">
                                <div class="card card-product">
                                    <div class="card-header card-header-image" data-header-animation="true">
                                        <a href="#pablo">
                                            <img class="img" src="{{i.Profile_pic.url}}" style="width:170px;height:240px;">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-actions text-center">
                                            <form action="view_profile" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="canview" value="{{i.candidate_id}}">
                                                <button class="btn btn-rose btn-round">View Profile</button>
                                            </form>
                                        </div>
                                        <h6 class="card-category text-gray">Vivah ID- {{i.candidate_id}}</h6>
                                        <h5 class="card-title">Name:-{{ i.Name }}</h5>
                                        <div class="card-description">
                                            D.O.B.:-{{ i.DOB }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock body %}