{% extends 'webapp/basic.html' %}
{% block title %} Gallery {% endblock %}
{% block body %}
{% load static %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-rose alert-with-icon tp-5" id="msg" data-notify="container">
    <i class="material-icons" data-notify="icon">notifications</i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
    </button>
    <span data-notify="message"> {{ message }}</span>
</div>
{% endfor %}
{% endif %}
<div class="main">
    <div class="header text-center mt-5">
        <h3> Add Photos to Your Gallery</h3>
        <h6>(Upto 3 Photos)</h6>
    </div>
    <div class="container mt-5">
        <div class="card text-center p-5">
        <form action="file_upload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="uploadfoles" multiple><br>
           <div class="mt-3">
            <button type="submit" class="btn btn-primary btn-round">Upload</button>
               </div>
        </form>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            {% for i in all_img %}
            <div class="col-md-4">
                <div class="fileinput-preview fileinput-exists thumbnail">
                <form action="delete_img" method="POST">
                    <img src="{{i.images.url}}" class="picture-src" id="wizardPicturePreview" style="width:300px;height:350px;">
                    <div>
                        {% csrf_token %}
                        <input type="hidden" name="image" value="{{i.images}}">
                        <button class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</button>
                    </div>
                </form></div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
{% block js %}
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/moment.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2.js' %}"></script>
<script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.bootstrap-wizard.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap-selectpicker.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'js/plugins/jasny-bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery-jvectormap.js' %}"></script>
<script src="{% static 'js/plugins/nouislider.min.js' %}"></script>
<script src="{% static 'js/plugins/arrive.min.js' %}"></script>
<script src="{% static 'js/plugins/chartist.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'demo/demo.js' %}"></script>
<script src="{% static 'js/material-dashboard.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="{% static 'js/plugins/photoswipe.min.js' %}"></script>
<script src="{% static 'js/plugins/photoswipe-ui-default.min.js' %}"></script>
<script>
$(document).ready(function() {
    $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
            if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                $('.fixed-plugin .dropdown').addClass('open');
            }

        }

        $('.fixed-plugin a').click(function(event) {
            // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
            if ($(this).hasClass('switch-trigger')) {
                if (event.stopPropagation) {
                    event.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
            }
        });

        $('.fixed-plugin .active-color span').click(function() {
            $full_page_background = $('.full-page-background');

            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
                $sidebar.attr('data-color', new_color);
            }

            if ($full_page.length != 0) {
                $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
                $sidebar_responsive.attr('data-color', new_color);
            }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('background-color');

            if ($sidebar.length != 0) {
                $sidebar.attr('data-background-color', new_color);
            }
        });

        $('.fixed-plugin .img-holder').click(function() {
            $full_page_background = $('.full-page-background');

            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').addClass('active');


            var new_image = $(this).find("img").attr('src');

            if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                $sidebar_img_container.fadeOut('fast', function() {
                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $sidebar_img_container.fadeIn('fast');
                });
            }

            if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                $full_page_background.fadeOut('fast', function() {
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    $full_page_background.fadeIn('fast');
                });
            }

            if ($('.switch-sidebar-image input:checked').length == 0) {
                var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            }

            if ($sidebar_responsive.length != 0) {
                $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
            }
        });

        $('.switch-sidebar-image input').change(function() {
            $full_page_background = $('.full-page-background');

            $input = $(this);

            if ($input.is(':checked')) {
                if ($sidebar_img_container.length != 0) {
                    $sidebar_img_container.fadeIn('fast');
                    $sidebar.attr('data-image', '#');
                }

                if ($full_page_background.length != 0) {
                    $full_page_background.fadeIn('fast');
                    $full_page.attr('data-image', '#');
                }

                background_image = true;
            } else {
                if ($sidebar_img_container.length != 0) {
                    $sidebar.removeAttr('data-image');
                    $sidebar_img_container.fadeOut('fast');
                }

                if ($full_page_background.length != 0) {
                    $full_page.removeAttr('data-image', '#');
                    $full_page_background.fadeOut('fast');
                }

                background_image = false;
            }
        });

        $('.switch-sidebar-mini input').change(function() {
            $body = $('body');

            $input = $(this);

            if (md.misc.sidebar_mini_active == true) {
                $('body').removeClass('sidebar-mini');
                md.misc.sidebar_mini_active = false;

                $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

            } else {

                $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                setTimeout(function() {
                    $('body').addClass('sidebar-mini');

                    md.misc.sidebar_mini_active = true;
                }, 300);
            }

            // we simulate the window Resize so the charts will get updated in realtime.
            var simulateWindowResize = setInterval(function() {
                window.dispatchEvent(new Event('resize'));
            }, 180);

            // we stop the simulation of Window Resize after the animations are completed
            setTimeout(function() {
                clearInterval(simulateWindowResize);
            }, 1000);

        });
    });
});
</script>
<script>
$(document).ready(function() {
    // initialise Datetimepicker and Sliders
    md.initFormExtendedDatetimepickers();
    if ($('.slider').length != 0) {
        md.initSliders();
    }
});
</script>
<script>
$(function() {
    $("#slider-range").slider({
        range: true,
        min: 0,
        max: 500,
        values: [18, 30],
        slide: function(event, ui) {
            $("#Age").val("Age" + ui.values[0] + " - Age" + ui.values[1]);
        }
    });
    $("#Age").val("Age" + $("#slider-range").slider("values", 0) +
        " - Age" + $("#slider-range").slider("values", 1));
});
</script>
{% endblock %}
{% endblock body %}