{% extends 'webapp/basic.html' %}
{% block title %} Reset Complete {% endblock %}
{% block body %}
{% load static %}
<div class="container-sm mt-5 mx-5 my-5 p-5">
    <div class="col-7 aligin-center">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Password reset successful!</h2>
            </div>
            <div class="card-footer text-center">
                <a href="/login" type="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}