{% extends 'webapp/basic.html' %}
{% block title %} Reset Done {% endblock %}
{% block body %}
{% load static %}
<div class="container-sm mt-5 mx-5 my-5 p-5">
    <div class="col-7 aligin-center">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Check Email!</h2>
            </div>
            <div class="card-body text-center">
                <h5>An email has been sent to your registered email id.<br>
                    Please check your email!</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}