{% extends 'webapp/basic.html' %}
{% block title %} Reset Confirm {% endblock %}
{% block body %}
{% load static %}
<div class="container-sm  mx-5 my-5 p-5 ">
    <div class="col-7 aligin-center">
        <div class="card">
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <h4 class="card-title">Reset Your Password</h4>
            </div>
            <div class="card-body">
                <h6>Enter Your New Password</h6>
                {% csrf_token %}
                {{form}}
            </div>
            <div class="card-footer text-center">
                <form method="POST">
                    <button class="btn btn-primary btn-round" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}